[Unit]
Description=Pufferfish Kiosk Service
Requires=nginx.service media-pi-LOGS.mount
After=nginx.service media-pi-LOGS.mount graphical.target pufferfish_backend.service

[Service]
Type=simple
User=pi
Group=pi
Environment=DISPLAY=:0.0
Environment=XAUTHORITY=/home/pi/.Xauthority
ExecStartPre=/opt/clean_kiosk.sh
ExecStart=chromium-browser --no-default-browser-check --check-for-update-interval=31536000 --no-first-run --disable-translate --disable-infobars --disable-suggestions-service --disable-save-password-bubble --disable-session-crashed-bubble --noerrdialogs -disable-pinch --no-context-menu --kiosk http://localhost
Restart=always
RestartSec=3
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=pufferfish_kiosk

[Install]
WantedBy=graphical.target