[Unit]
Description=Pufferfish Backend Service
Requires=nginx.service media-pi-LOGS.mount
After=nginx.service media-pi-LOGS.mount

[Service]
Type=simple
User=pi
ExecStartPre=sudo pigpiod
ExecStart=/home/pi/.pyenv/versions/ventserver/bin/python python_file_absolute_path
Restart=always
RestartSec=3
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=pufferfish_backend

[Install]
WantedBy=multi-user.target