name: Frontend Checks

on:
  push:
    paths:
      - 'frontend/**'
  workflow_dispatch:
    inputs:
      git-ref:
        description: 'Git ref (optional)'
        required: false

defaults:
  run:
    working-directory: frontend

jobs:
  build:
    runs-on: ubuntu-18.04
    strategy:
      matrix:
        node_version: [12]

    steps:
    - uses: actions/checkout@v1
      name: Checkout repository

    - name: Use Node.js ${{ matrix.node_version }}
      uses: actions/setup-node@v1
      with:
        version: ${{ matrix.node_version }}

    - name: Install dependencies
      run: yarn install

    - name: Check linting
      run: yarn lint

    - name: Unit Tests
      run: yarn test
